
*{
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(145deg, #d38312, #a83279);
  color:white;
}

header{
  width: 100vw;
  height: 10%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0,0.9);
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #d38312;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
}

header img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

header button {
  width: 24px;
  height: 24px;
  background-color: rgba(0,0,0,0);
  border: none;
}

.text-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 10%;
  background-color: rgb(0,0,0,0.5);
  display: flex;
  align-items: center;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.3);
}

.text-box button {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0)
}

.text-box button:disabled {
  background-color:rgba(0,0,0,0);
}

input {
  width: 95%;
  height: 40%;
  margin: 5px;
  border-radius: 15px;
  outline: none;
  padding: 5px;
  background-color: rgb(0,0,0,0.5);
  border: 1px solid white;
  color: white;
}

input:focus {
  background-color: rgb(0,0,0,0);
}

::placeholder {
  color: white;
}

.bubble {
  border-radius: 10px;
  font-size: 12px;
  background-color: rgb(0,0,0,0.5);
  padding: 8px;
  font-size: 16px;
  display: inline-block;
  margin: 5px;
  word-break: break-word;
}

.messages {
  height: 80%;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 10%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.message-container {
  width: 100vw;
}
/*
.bubble[from='me']{

}*/

.header-icon {
  width: 24px;
  height: 24px;
  color: white;
  outline: none;
}

.send-icon {
  width: 20px;
  height: 20px;
  color: white;
}

.edit-username {
  display: flex;
  align-items: center;
  margin-right: 24px;
  font-size: 24px;
}

.message-name {
  margin-left: 5px;
  margin-top: 10px;
}